<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>numbbvi's blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <p href="/">numbbvi</p>
        </nav>
    </header>
    <main>
        <aside>
            <div class="profile">
                <img src="/static/images/hachiware.jpg">
            </div>
            <div class="profile_info">
                <p>이름: 안현수</p>
                <p>학교: 강릉원주대학교</p>
                <p>이메일: numbbvi@naver.com</p>
            </div>
            <button type="submit" id="profile_modify_button">내 정보 수정</button>
        </aside>
        <section>
            <article>
                게시글1, 2, 3 ...
            </article>
        </section>
    </main>
    <footer>
        footer
    </footer>
</body>

</html>