{% include 'base_code.html' %}
<section>
    {% for post in posts %}
    {% if post.is_secret %}
    <article style="margin: 10px 35px;">
        <a class="post_list" href="{{ url_for('secret_pw', post_id=post.id) }}">
            <span class="post_image">
                <img src="/static/images/default.png" alt="게시글 이미지">
            </span>
            <div class="post_info">
                <span class="post_title" style="color: #899779;">비밀글 입니다</span>
            </div>
        </a>
    </article>
    {% else %}
    <article style="margin: 10px 35px;">
        <a class="post_list" href="{{ url_for('post_show', post_id=post.id) }}">
            <span class="post_image">
                {% if post.file_name %}
                <img src="{{ url_for('static', filename='images/' + post.file_name) }}" alt="게시글 이미지">
                {% else %}
                <img style="background-color: #f6f6f6; border: 0px;">
                {% endif %}
            </span>
            <div class="post_info">
                <span class="post_title">{{ post.title[:30] }}{% if post.title|length > 30 %}...{% endif %}</span>
                <span class="post_content">{{ post.content[:100] }}{% if post.content|length > 100 %}...{% endif
                    %}</span>
            </div>
        </a>
    </article>
    {% endif %}
    {% endfor %}
</section>
</main>
<footer>
    <p>numbbvi's blog</p>
</footer>
</body>

</html>