{% include 'base_code.html' %}
<section>
    <article style="margin: 0px 35px;">
        <form class="auth_form" action="/login" method="post">
            <div id="id_form">
                <label for="id" class="form_label">아이디</label>
                <input type="text" class="form_input" id="id" name="id" placeholder="아이디를 입력해주세요." required>
            </div>
            <div id="pw_form">
                <label for="pw" class="form_label">비밀번호</label>
                <input type="password" class="form_input" id="pw" name="pw" placeholder="비밀번호를 입력해주세요." required>
            </div>
            <button type="submit" id="auth_button">로그인</button>
            <div class="find_user">
                <a href="/find_id">아이디 찾기</a>
                <a href="/find_pw">비밀번호 찾기</a>
            </div>
        </form>
    </article>
</section>
</main>
<footer>
    <p>numbbvi's blog</p>
</footer>
</body>

</html>