{% include 'base_code.html' %}
<section>
    <article style="margin: 20px 35px;">
        <form class="post_form" action="/post_modify" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" id="title" name="title" value="{{ post.title }}" required>
            </div>
            <div>
                <textarea id="content" name="content" rows="10" cols="50">{{ post.content }}</textarea>
            </div>
            <div class="file_upload">
                {% if post.file_name %}
                <p for="file">현재 파일: <span>{{ post.original_filename }}</span></p>
                {% endif %}
                <input type="file" id="file" name="file">
            </div>
            <button type="submit" id="post_button">수정하기</button>
            <input type="hidden" name="post_id" value="{{ post.id }}">
        </form>
    </article>
</section>
</main>
<footer>
    <p>numbbvi's blog</p>
</footer>
</body>

</html>